@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* ============nav start======= */

.nav{
    display: flex;
    justify-content: space-between;
    padding:50px 150px;
}
.resume > button{
    padding: 17px 24px;
    border-radius: 10px;
    border: 1px solid #0D1321;
    background-color: white;
    cursor: pointer;
}
/* =========end nav============ */

/* ==========banner start=========== */
.banner{
    padding:30px 220px;
    background-image: url("assets/Hero-bg.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.banner > h1{
    font-size: 48px;
    margin-top: 24px;
}
.banner > p{
    font-size: 16px;
    margin-top: 24px;
    padding:0px 70px;
    line-height: 26px;
}

.banner > button{
    padding:20px 24px;
    margin-top:50px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;

}